<!DOCTYPE html>
  <html>
    <head>
      <title></title>
    </head>
    <body>
      <p>Ask your coach anything:</p>
      <form action="answer">
        <input type="text" name="answer">
        <input id="" type="submit" value="Ask!">
      </form>
    </body>
</html>
